.service {
  padding-top: 100px;
  h1 {
    font-size: 64px;
    color: #1b5bf7;
    padding-bottom: 30px;
  }
  .service__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 30px;
    .service__card {
      width: 359px;
      height: 209px;
      background-color: #f4f7ff;
      .icon {
        width: 35px;
        height: 35px;
        color: #1b5bf7;
        padding-left: 19px;
        padding-top: 30px;
      }
      p {
        color: #18191f;
        font-size: 20px;
        padding-left: 40px;
        padding-top: 45px;
        width: 295px;
      }
    }
  }
}

@media (max-width: 900px) {
  .service {
    h1 {
      font-size: 32px;
      text-align: center;
    }
    .service__content {
      grid-template-columns: repeat(2, 1fr);
      .service__card {
        width: 100%;
        p {
          font-size: 16px;
          width: 100%;
          padding-left: 20px;
        }
        .icon {
          padding-left: 10px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .service {
    h1 {
      font-size: 32px;
      text-align: center;
    }
    .service__content {
      gap: 5px;
      .service__card {
        width: 100%;
        p {
          font-size: 16px;
          width: 100%;
          padding-left: 0;
          text-align: center;
        }
        .icon {
          padding-left: 0;
          margin: 0 auto;
        }
      }
    }
  }
}
